<!DOCTYPE html>
<html>
<head>
  <title>Pickers</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA3V7mlvI9LS51rhRjkWqjqxgMj3Fd3Hss&sensor=true&v=3.exp&libraries=places">
  </script>
  <!-- <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script> -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>

<% flash.each do |name, msg| %>
  <% if name == "alert" %>
    <%= content_tag(:div, msg, class: "alert alert-danger") %>
  <% else %>
    <%= content_tag(:div, msg, class: "alert alert-info") %>
  <% end %>  
<% end %>

<%= yield %>

</body>
</html>
